body {
    font-family: Arial, sans-serif;
    background: url('https://i.pinimg.com/originals/95/9f/b1/959fb1f51bc1026ace27acede55e1bc8.gif') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.logo {
    position: absolute;
    top: 10%;
    left: 20px;
    width: 200px;
    height: 200px;
    z-index: 3;
}
header {
    background: transparent;
    color: #fff;
    padding: 2rem 0 0 0;
    text-align: center;
    position: relative;
    
}
.header-text {
    position: absolute;
    top: 40%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.75vw;
    font-weight: bold;
    text-shadow: 2px 2px 8px #000;
    pointer-events: none;
    z-index: 2;
}
.header-text2 {
    position: absolute;
    top: 55%;
    left: 26.5%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.75vw;
    font-weight: bold;
    text-shadow: 2px 2px 8px #000;
    pointer-events: none;
    z-index: 2;
}
main {
    padding: 2rem;
    background: rgba(0,0,0,0.7);
    margin: 2rem auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    color: #fff;
}
footer {
    text-align: center;
    padding: 1rem 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
